<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/index.css" />
  </head>
  <body>
    <div class="container">
      <h1><%=title%></h1>
      <%- include("partials/errors.ejs")%>

      <form action="/<%= user.id %>/update" method="post">
        <input
          type="text"
          name="firstName"
          value="<%= user.firstName%>"
          required
        />
        <input
          type="text"
          name="lastName"
          value="<%=user.lastName%>"
          required
        />
        <input type="text" name="email" value="<%= user.email%>" required />
        <input type="number" name="age" value="<%=user.age%>" />
        <textarea type="" name="bio"><%=user.bio%></textarea>
        <button type="submit">Update user</button>
      </form>
      <a href="/">Back to home</a>
    </div>
  </body>
</html>
